@import url(./clearfix.css);

body {
  background-color: #38075C;
}

.landscape-container {
  background-color: #091134;
}

.landscape {
  background-repeat: no-repeat;
  background-position: center;
  height: 344px;
  margin: auto;
}

.bricking {
  background-image: url(./assets/images/bricking_1024.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 474px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.site-body {
  padding-top: 23px;
  background-color: #091134;
  display: flex;
  align-items: center;
  flex-direction: column;

  background: #091134;
  background-image: linear-gradient(-180deg, rgba(11,0,54,0.00) 82%, rgba(127,7,173,0.37) 100%);
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
}

.logo-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
  font-family: AvenirNextCondensed-Regular;
  font-size: 24px;
  color: #00E5B2;
  letter-spacing: 1px;
}

.logo-shine {
  margin-top: -70px;
  background-image: radial-gradient(50% 50%, rgba(161,0,255,0.10) 49%, rgba(36,179,114,0.00) 100%);
  z-index: 1;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.logo-container p {
  margin-top: 50px;
}

.wordmark {
  margin-top: 300px;
}

.contents {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 60px;
}

.content-item {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin: 40px;
}

.content-item img {
  width: 367px;
}

.content-item-text {
  padding-left: 30px;
  padding-top: 10px;
  font-family: AvenirNextCondensed-Regular;
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-size: 20px;
  color: #00BDBE;
  width: 300px;
}

.content-item-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
}

.content-item p {
  padding-top: 5px;
}

.question-mark {
  width: 359px;
  height: 202px;
  border: 4px solid #00BDBE;
  color: #00BDBE;
  font-family: AvenirNextCondensed-DemiBold;
  font-size: 72px;
  color: #00BDBE;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #062143;
  font-stretch: condensed;
}

.footer {
  font-family: AvenirNextCondensed-Regular;
  color: #00E5B2;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 120px;
}

.footer p {
  margin: 5px;
}


@media (max-width: 320px) {
  .landscape {
    background-image: url(./assets/images/landscape_320.png);
    height: 320px;
  }

  .bricking {
    background-image: url(./assets/images/bricking_320.png);
  }
}

@media (min-width: 321px) {
  .landscape {
    background-image: url(./assets/images/landscape_768.png);
    height: 320px;
  }

  .bricking {
    background-image: url(./assets/images/bricking_768.png);
  }
}

@media (max-width: 768px) {
  .landscape {
    /* background-position: left; */
  }

  .logo {
    width: 100px;
  }

  .content-item {
    flex-direction: column;
  }

  .content-item-text {
    padding-top: 25px;
    padding-left: 5px;
  }

  .content-item img {
    width: 293px;
    height: 168px;
  }

  .question-mark {
    width: 285px;
    height: 160px;
  }

  .wordmark {
    width: 275px;
    margin-top: 200px;
  }

  .logo-container p {
    margin-top: 30px;
    font-size: 20px
  }

  .contents {
    margin-top: 0px;
  }

  .content-item-text {
    font-size: 16px;
  }

  .content-item p {
    width: 290px;
  }
}

@media (min-width: 769px) {
  .landscape {
    background-image: url(./assets/images/landscape_1024.png);
    height: 296px;
  }

  .bricking {
    background-image: url(./assets/images/bricking_1024.png);
  }
}

@media (min-width: 1025px) {
  .landscape {
    background-image: url(./assets/images/landscape_1440.png);
  }

  .bricking {
    background-image: url(./assets/images/bricking_1440.png);
  }
}

@media (min-width: 1441px) {
  .landscape {
    background-image: url(./assets/images/landscape_2048.png);
  }

  .bricking {
    background-image: url(./assets/images/bricking_2048.png);
  }
}
